@font-face {
    font-family: 'proxima nova';
    src: url('fonts/proxima_nova_alt_light-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_alt_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'proxima nova';
    src: url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima nova';
    src: url('fonts/proxima_nova_alt_bold-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_alt_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gibson';
    src: url('fonts/Gibson-Regular.woff2') format('woff2'),
        url('fonts/Gibson-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --font-proxima: 'proxima nova', sans-serif;
    --font-gibson: 'gibson', sans-serif;
    --brand-primary: #49CBC9;
    --brand-secondary: #000A3B;
    --brand-tertiary: #F8F9FF;
    --brand-fourth: #E5E5E5;
    --brand-fifth: #EFF1FD;
}

img{max-width: 100%;}

html{
    font-size: 16px;
}
body{
    font-family: var(--font-proxima);
    font-size: 1rem;
    color: #000;
    background: #fff;
    line-height: 1.1;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-proxima);
}

h1{
    font-size: 3.4375rem;
}
h2{
    font-size: 2.1875rem;
}
h3{
    font-size: 1.875rem;
}
h4{
    font-size: 1.5625rem;
}
h5{
    font-size: 1.375rem;
}
h6{
    font-size: 1.125rem;
}

.main-wrapper{
    max-width: 2100px;
    margin-left: auto;
    margin-right: auto;
}

/** Helper CSS **/
.font-proxima{
    font-family: var(--font-proxima);
}
.font-gibson{
    font-family: var(--font-gibson);
}

.text-primary{
    color: var(--brand-primary);
}
.text-secondary{
    color: var(--brand-secondary);
}
.text-tertiary{
    color: var(--brand-tertiary);
}
.text-fourth{
    color: var(--brand-fourth);
}
.text-fourth{
    color: var(--brand-fifth);
}

.bg-primary{
    background: var(--brand-primary);
}
.bg-secondary{
    background: var(--brand-secondary);
}
.bg-tertiary{
    background: var(--brand-tertiary);
}
.bg-fourth{
    background: var(--brand-fourth);
}
.bg-fifth{
    background: var(--brand-fifth);
}

.hover-scale-in{
    -webkit-transition: transform ease 0.3s !important;
    -moz-transition: transform ease 0.3s !important;
    transition: transform ease 0.3s !important;
}
.hover-scale-in:hover{
    -webkit-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
}

.shadow-type-1{
    -webkit-box-shadow: 0px 5px 40px rgba(170, 170, 170, 0.19);
    -moz-box-shadow: 0px 5px 40px rgba(170, 170, 170, 0.19);
    box-shadow: 0px 5px 40px rgba(170, 170, 170, 0.19);
}

.rounded-lg {
    border-radius: 1rem;
}

.form-control {
    display: block;
    border-radius: 5px;
    background: #F5F5F5;
    border: 0;
    outline: none;
    min-height: 53px;
    padding: 12px 16px;
    resize: none;
    width: 100%;
}


/*** Buttons theming ****/
.btn{
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    min-width: 150px;
    text-align: center;
}
.btn.rounded{
    border-radius: 20px;
}
.btn-sm{
    font-size: 0.9rem;
    min-width: 0;
}
.btn:hover{
    background-color: var(--brand-tertiary);
}
.btn-primary{
    background-color: var(--brand-primary);
    color: #fff;
}
.btn-primary:hover{
    background-color: var(--brand-secondary);
    color: #fff;
}
.btn-secondary{
    background-color: var(--brand-secondary);
    color: #fff;
}
.btn-secondary:hover{
    background-color: var(--brand-primary);
    color: #fff;
}
.btn-fourth{
    background-color: var(--brand-fourth);
    color: #707070;
}
.btn-fourth:hover{
    background-color: var(--brand-secondary);
    color: #fff;
}
.btn-white{
    background-color: #fff;
    color: var(--brand-primary);
}
.btn-white:hover{
    background-color: var(--brand-primary);
    color: #fff;
}


/*** Main Menu ***/
ul.main-menu{
    list-style: none;
}
ul.main-menu > li{
    margin-left: 0.8rem;
}
ul.main-menu > li a{
    display: block;
    text-decoration: none;
    color: var(--brand-secondary);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.7rem 1.5rem;
}
ul.main-menu > li a.donate{
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 14px rgba(217, 220, 248);
    -moz-box-shadow: 0px 3px 14px rgba(217, 220, 248);
    box-shadow: 0px 3px 14px rgba(217, 220, 248);
}
ul.main-menu > li a:hover{
    color: var(--brand-primary);
}

/*** Mobile Menu ****/
#nav-content{
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
#nav-content.active{
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
#nav-content ul li a:hover{
    color: var(--brand-secondary);
}


/*** Hero Section ***/
.hero-section{
    background-image: url("../images/homepage-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.hero-section .container{
    height: 100vh;
    min-height: 30rem;
    max-height: 1000px;
}
.not-front .hero-section{
    background-position: center top;
}
.not-front .hero-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.not-front .hero-bottom img{
    margin: 0 auto;
}
.hero-section.recent-news{
    padding-top: 12rem;
}
.hero-section.recent-news,
.hero-section.recent-news .container{
    max-height: none;
    height: auto;
}



/*** Homepage Map ***/
.homepage-map{
    background-image: url("../images/homepage-locations.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.homepage-map .container{
    height: 28rem;
}

/*** Our Partners ***/
.partners-listing > *{
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.partners-listing > *:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

/*** We Spend Charitable ***/
section.we-spend-charitable img{
    
    margin: 0 auto;
}

/*** Donate By Boxes ***/
.donate-by-box{
    background: #fff;
    -webkit-box-shadow: 0px 10px 30px rgba(213, 216, 239, 0.5);
    -moz-box-shadow: 0px 10px 30px rgba(213, 216, 239, 0.5);
    box-shadow: 0px 10px 30px rgba(213, 216, 239, 0.5);
    color: #000;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.donate-by-box.active{
    background: var(--brand-primary);
    color: #fff;
}


/*** Why your donation ***/
.donation-numbering{
    background-image: url("../images/donation-numbers.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 48px;
    height: 48px;
    color: var(--brand-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*** Our Story ***/
.storyline{
    background-image: url("../images/storyline.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 97%;
}


/*** POPUP ***/
body.popup-active{
    overflow: hidden;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 0;
    z-index: 999;
    overflow: auto;
    background: rgba(0, 0, 0, 0.65);
    display: none;
}
.popup-active .popup.active {
    display: block;
}
.popup .popup-content {
    background: #fff;
    overflow: hidden;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    border-radius: 3px;
    box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4);
}


/*** Open Book ***/
.open-book{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    min-height: 600px;
}
.open-book .arrow-left{
    position: absolute;
    top: 50%;
    right: 101%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("../images/Icon awesome-arrow-circle-left.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.open-book .arrow-right{
    position: absolute;
    top: 50%;
    left: 101%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("../images/Icon awesome-arrow-circle-right.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.open-book .pages{
    padding: 2rem;
}
.open-book .pages > .page{
    display: none;
}
.open-book .pages > .page.active{
    display: flex;
}
.open-book .pages > .page > *{
    width: 50%;
    padding: 3rem;
}

/*** Tabs ***/
.tab .tab-content{
    display: none;
}
.tab .tab-content.active{
    display: block;
}
.tab .tab-buttons > a{
    font-size: 1.2rem;
    font-family: var(--font-gibson);
    border-bottom: 3px solid transparent;
    padding: 0.5rem 0;
    margin: 0 1.5rem;
}
.tab .tab-buttons > a.active{
    color: var(--brand-primary);
    border-color: var(--brand-primary);
}

/*** Recent News ***/
.recent-news-title-min-h{
    min-height: 85px;
}
.recent-news-description-min-h{
    min-height: 100px;
}

/*** Full width Video ***/
.full-width-video{
    position: relative;
    overflow: hidden;
}
.full-width-video .overlay{
    background:rgba(51, 51, 51, 0.55);
    color: #fff;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 460px;
    width: 50%;
    line-height: 1.7;
}

/*** Zoom image on hover ***/
.zoom-image{
    position: relative;
    overflow: hidden;
}
.zoom-image .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
}

/*** Responsive Video ***/
.responsive-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*** Footer ***/
.footer .links a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.footer .links a:hover{
    color: var(--brand-primary);
}

/**** Responsive *****/
/*********************/


@media only screen and (max-width: 1280px){

    .hero-section .container{
        max-height: 600px;
    }
}

@media only screen and (max-width: 1024px){

    html{font-size: 14px;}

    .open-book{
        min-height: 300px;
        margin: 0 2rem;
    }
    .open-book .pages{
        padding: 1.5rem;
    }
    .open-book .pages > .page > *{
        padding: 1rem;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px){

}

@media only screen and (max-width: 768px){
    

    .homepage-map .container{
        height: 20rem;
    }

    .storyline{
        background-position: left top;
    }

    .open-book{
        background: #fff;
        background-image: none !important;
    }
    .open-book .pages > .page{
        flex-direction: column;
    }
    .open-book .pages > .page > *{
        width: 100%;
    }
    .open-book .pages > .page .page-left{
        border-bottom: 1px solid #9b9b9b;
        margin-bottom: 2rem;
    }

    .tab.tab-program .tab-buttons > a{
        margin-bottom: 1rem;
    }

    .recent-news-title-min-h,
    .recent-news-description-min-h{
        min-height: 0;
    }

    .hero-section{
        position: relative;
    }
    .hero-section:before{
        content: "";
        position: absolute;
        top: -20px;
        right: -20px;
        left: -20px;
        bottom: -20px;
        min-width: 300px;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+60,000000+100&0.5+0,0.5+60,0+100 */
        background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 60%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 60%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

    }

    .front .hero-section {
        background-position: right 15% bottom;
    }
}

@media only screen and (max-width: 640px){

    .full-width-video .overlay{
        position: static;
        max-width: 100%;
        width: 100%;
        background: rgba(51, 51, 51, 1);
    }
}

@media only screen and (max-width: 480px){
    
    h1{
        font-size: 2.8rem;
    }
    h2{
        font-size: 1.9rem;
    }
    h3{
        font-size: 1.6rem;
    }
    h4{
        font-size: 1.4rem;
    }
    h5{
        font-size: 1.2rem;
    }
    h6{
        font-size: 1rem;
    }

    .not-front .hero-section {
        background-position: right 35% top;
    }

    .btn{
        min-width: 0;
    }

    .storyline{
        background-image: none;
    }

    .tab.tab-accountability .tab-buttons > a{
        margin: 0 1rem;
    }

    .open-book .pages {
        padding: 0.5rem;
    }
}